<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ace Raxx cluster example</title>
  </head>
  <body>
    <h1>Ace Raxx cluster example</h1>
    <h2>node: <%= node %></h2>
    <ul id="node-list">
      <%= for node <- nodes do %>
        <li>
          <a href="<%= link_href(node) %>">
            <%= node %>
          </a>
        </li>
      <% end %>
    </ul>
    <script type="text/javascript">
			function ready() {
				if (!!window.EventSource) {
					setupEventSource();
				} else {
					console.log("Sorry but your browser doesn't support the EventSource API");
				}
			}
      $nodeList = document.getElementById("node-list");
			function setupEventSource() {
				var source = new EventSource('/updates');
				source.addEventListener('nodes', function(event) {
          var nodes = JSON.parse(event.data).reduce(function(total, node){
            ip = node.split("@")[1]
            var line = "<li><a href=\"http://" + ip + ":8080\">" + node + "</a></li>"
            return total + line
          }, "")
          $nodeList.innerHTML = nodes
				}, false);
				source.addEventListener('open', function(event) {
          console.log(event)
				}, false);
			}

      ready()
		</script>
  </body>
</html>
